<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="box">
        <h2>Welcome, <%= locals.username %>!</h2>
        <p>You have successfully logged in.</p>
        <a href="/logout"><button>Logout</button></a>
        <form action="/profile" method="GET">
            <button>Profile</button>
        </form>
    </div>
</body>
</html>
